
body {
    margin: 0;
    overflow: hidden;
    background: url("/Wiki-Anime/Image/Test3.webp") center/cover fixed; 
    font-family: 'Arial', sans-serif;
}


.welcome-text {
    position: absolute;
    top: 45%;
    left: 20px;
    color: white;
    transform: translateY(-50%);
    max-width: 500px;
}


h1 {
    font-size: 2em;
    margin-bottom: 20px;
}


p {
    font-size: 1.2em;
    line-height: 1.5;
}


.cta-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #201f1e;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    margin-top: 20px;
}


.cta-button:hover {
    background-color: rgb(19, 68, 96);
    text-decoration: underline;
    color: white;
}

#imageLogo {
    font-size: xx-large;
    position: absolute;
    top: 45%;
    right: 50px;
    color: white;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    width: 300px;
    height: auto;
}